#finder-wrapper {

}
#container {
    width: 80%;
    margin: 0 auto;
    clear:both;
}
.clearfix {
    overflow: auto;
}

/*--------- EXPERIENCE FILTER -------------*/
fieldset.group  {
    margin-top: 0;
    border: none;
    padding: 0;

}

fieldset.group legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 1em;
    font-size: 100%;
    color: rgba(0, 65, 106, 1.0);
}


ul.checkbox  {
    margin: 0;
    padding: 0.6em 0;
    margin-left: 1em;
    list-style: none;
}

ul.checkbox li input {
    margin-right: 0;
}

ul.checkbox li {
    color: rgba(0, 65, 106, 1.0);
    font-size: 0.8em;
    display: inline-block;
    width: 48%;
    vertical-align: text-top;
}

ul.checkbox li span {
    margin-left: 1.8em;
}
ul.checkbox li label {
margin-left: 0.5em;
}
ul.checkbox li:hover,
ul.checkbox li.focus  {
    background-color: rgba(0, 65, 106, .1);
}


/*--------- MAP -------------*/

.overlay {
    fill: none;
    pointer-events: all;
}

#map-box {
    float: left;
    width: 48%;
    margin:10px 5px 0 auto;
    padding:1px;
    border:2px solid #d0d0d0;
    border-radius: 5px;
}

#map {

}

#zoom {
    left: 44%;
    margin: 2px;
    position: absolute;
    z-index: 10;
}

#zoom-in {

}

#zoom-out {

}

.country:hover{
    stroke: #fff;
    stroke-width: .7px;
}


/*--------- RESULT -------------*/
#result-wrapper {
    float: right;
    width: 48%;
    margin: 10px auto 0 5px;
}
#result {

}
#result-table {
    width: 100% ;
    text-align: left;
    border:none;
}


#next{
    float:right;
}
#previous{
    float:left;
}
#instruction{
    margin: auto auto;
    width: 50%;
    font-style: italic;
    text-align: center;
    padding: 2px 4px;
    clear: both;
}
#next, #previous {
    cursor:pointer;
    border:2px solid #ccc;
    padding:2px 4px;
    margin:10px 10%;
}
#info{
    margin:10px 10%;
    background: #fff;
    border: 2px solid #ccc;
    padding:10px;
}
#info div {
    height:20px;
    clear:both;
}
#info label {
    font-weight: bold;
    width: 130px;
    display: inline-block;
    text-transform: capitalize;
}
.block,#save,#top{
    margin:10px 10%;
}
.hidden {
    display: none;
}
div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}